html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: -webkit-fill-available;
    background: linear-gradient(70deg, rgb(30, 21, 41) 0%, rgb(21, 31, 15) 25%);
}



#centered-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 0rem;
    color: white;
    z-index: 1; /* Place text above the background */
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none; /* Prevent image highlighting */
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
